:root {
  --background-color: #161716;
  --hover-color: #024d6c;
  --text-color: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.spinner_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* TODO: Add css here */

.tabs {
  flex: 1;
  padding: 15px 0;
  color: var(--text-color);
  background: var(--background-color);
  cursor: pointer;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.content {
  padding-inline: 20px;
  padding-block: 50px;
}

.tab_container {
  display: flex;
  justify-content: space-around;
  background: var(--background-color);
  padding: 10px 0;
}

.tabs:hover {
  background: var(--hover-color);
}

.active_tab {
  background: var(--hover-color);
}

p {
  padding-top: 10px;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  .content {
    padding: 50px;
  }
}

@media only screen and (max-width:768px) {
  body {
    background: skyblue;
  }

  .content_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tab_container {
    flex-direction: column;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .tabs {
    padding: 0;
  }

  .content {
    padding: 20px;
    grid-column: 2/4;
  }
}

@media only screen and (max-width:640px) {
  .content_container {
    position: relative;
  }
}